# Insert CSV file into SQL#

In [11]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\andre\anaconda3\lib\site-packages (4.0.34)Note: you may need to restart the kernel to use updated packages.

In [12]:
import pyodbc

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [63]:
pd.show_versions()

C:\Users\Andre\anaconda3\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 0f437949513225922d851e9581723d82120684a6
python           : 3.11.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19045
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : pt_BR.cp1252

pandas           : 2.0.3
numpy            : 1.24.3
pytz             : 2023.3.post1
dateutil         : 2.8.2
setuptools       : 68.0.0
pip              : 23.2.1
Cython           : None
pytest           : 7.4.0
hypothesis       : None
sphinx           : 5.0.2
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.3
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.15.0
pandas_datareader: None
bs4              : 4.12.2
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : 2023.4.0
gcsfs            : None
matplotlib       : 3.7.2
numba            : 0.57.1
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : None
pyarrow          : 11.0.0
pyreadstat       : None
pyxlsb           : None
s3fs             : 2023.4.0
scipy            : 1.11.1
snappy           :
sqlalchemy       : 1.4.39
tables           : 3.8.0
tabulate         : 0.8.10
xarray           : 2023.6.0
xlrd             : None
zstandard        : 0.19.0
tzdata           : 2023.3
qtpy             : 2.2.0
pyqt5            : None

In [13]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [14]:
import traceback

try:
    import mysql.connector
except:
    !pip install mysql-connector-python
    import mysql.connector

"mysql.connector.__version__: " + mysql.connector.__version__

'mysql.connector.__version__: 8.3.0'

In [15]:
try:
    cnx = mysql.connector.connect(
        user='meec1',
        password='00meec',
        host='127.0.0.1', # in your case replace by 'localhost'
        database='teste_ipma_pt'
    )
except mysql.connector.Error as e:
    print(f"problems opening the connection to mysql: {e}")
else:
    print("ok!")
    cnx.close()

ok!

In [16]:
from config1 import config as conf

try:
    cnx = mysql.connector.connect(**conf)
except mysql.connector.Error as e:
    print(f"problems opening the connection to mysql: {e.msg}")
else :
    print("ok!")
    cnx.close()

ok!

In [26]:
df = pd.read_csv("Evapotranspiracao - et0-0810-olhao.csv")

In [27]:
df.head()

         date   minimum   maximum     range      mean       std
0  2023-11-26  1.027860  1.086159  0.058297  1.055989  0.015768
1  2023-11-27  1.260929  1.295850  0.034920  1.275380  0.008782
2  2023-11-28  1.091040  1.110020  0.018984  1.098709  0.005030
3  2023-11-29  0.929130  1.026909  0.097777  0.976738  0.026070
4  2023-11-30  0.801846  0.907908  0.106060  0.854376  0.028434

In [28]:
## to drop unnecessary columns
#cols = ['minimum','maximum','range','mean','std']
#df.drop(cols, inplace=True, axis = 1)
#df.head()

In [29]:
# Check for missing values
df.isnull().sum()

date       0
minimum    0
maximum    0
range      0
mean       0
std        0
dtype: int64

In [33]:
#Handle data types
df.dtypes

date       datetime64[ns]
minimum           float64
maximum           float64
range             float64
mean              float64
std               float64
dtype: object

In [32]:
#Converting date object into dateTime
df['date'] = pd.to_datetime(df['date'])

In [34]:
#Converting all rorws into a list of tuples
y = []
for i in range(len(df)):
    x = tuple(df.iloc[i])
    y.append(x)
    
y

[(Timestamp('2023-11-26 00:00:00'),
  1.02786,
  1.086159,
  0.058297,
  1.055989,
  0.015768),
 (Timestamp('2023-11-27 00:00:00'),
  1.260929,
  1.29585,
  0.03492,
  1.27538,
  0.008782),
 (Timestamp('2023-11-28 00:00:00'),
  1.09104,
  1.11002,
  0.018984,
  1.098709,
  0.00503),
 (Timestamp('2023-11-29 00:00:00'),
  0.92913,
  1.026909,
  0.097777,
  0.976738,
  0.02607),
 (Timestamp('2023-11-30 00:00:00'),
  0.801846,
  0.907908,
  0.10606,
  0.854376,
  0.028434),
 (Timestamp('2023-12-01 00:00:00'),
  1.500779,
  1.72149,
  0.220708,
  1.585819,
  0.058867),
 (Timestamp('2023-12-02 00:00:00'),
  1.0546,
  1.11468,
  0.060081,
  1.083189,
  0.016207),
 (Timestamp('2023-12-03 00:00:00'),
  0.950012,
  1.0339,
  0.083891,
  0.993174,
  0.022519),
 (Timestamp('2023-12-04 00:00:00'),
  0.928156,
  0.95371,
  0.025553,
  0.940469,
  0.006864),
 (Timestamp('2023-12-05 00:00:00'),
  0.767562,
  0.820622,
  0.05306,
  0.795495,
  0.014022),
 (Timestamp('2023-12-06 00:00:00'),
  0.717684,
  0.729355,
  0.011671,
  0.724977,
  0.002975),
 (Timestamp('2023-12-07 00:00:00'),
  0.889388,
  0.891263,
  0.001874,
  0.889973,
  0.000428),
 (Timestamp('2023-12-08 00:00:00'),
  1.043889,
  1.062759,
  0.018873,
  1.05321,
  0.005056),
 (Timestamp('2023-12-09 00:00:00'),
  0.912595,
  0.954623,
  0.042028,
  0.935554,
  0.011287),
 (Timestamp('2023-12-10 00:00:00'),
  1.04126,
  1.049729,
  0.008465,
  1.046409,
  0.00226),
 (Timestamp('2023-12-12 00:00:00'),
  0.845035,
  0.965586,
  0.120549,
  0.904781,
  0.032265),
 (Timestamp('2023-12-13 00:00:00'),
  1.482399,
  1.56113,
  0.07873,
  1.5203,
  0.021276),
 (Timestamp('2023-12-14 00:00:00'),
  1.354079,
  1.432299,
  0.078215,
  1.392339,
  0.021154),
 (Timestamp('2023-12-15 00:00:00'),
  2.27444,
  2.751899,
  0.477461,
  2.50914,
  0.128351),
 (Timestamp('2023-12-16 00:00:00'),
  2.950069,
  3.568949,
  0.618887,
  3.25446,
  0.166102),
 (Timestamp('2023-12-17 00:00:00'),
  1.84964,
  2.14527,
  0.295626,
  1.99632,
  0.079815),
 (Timestamp('2023-12-18 00:00:00'),
  1.162279,
  1.17866,
  0.016372,
  1.171759,
  0.004434),
 (Timestamp('2023-12-19 00:00:00'),
  1.201439,
  1.226609,
  0.025178,
  1.215229,
  0.006793),
 (Timestamp('2023-12-20 00:00:00'),
  0.922774,
  0.933445,
  0.010672,
  0.929544,
  0.002168),
 (Timestamp('2023-12-21 00:00:00'),
  1.201009,
  1.2676,
  0.066592,
  1.23835,
  0.018154),
 (Timestamp('2023-12-22 00:00:00'),
  1.38934,
  1.40427,
  0.014925,
  1.399629,
  0.00386),
 (Timestamp('2023-12-23 00:00:00'),
  1.027909,
  1.050699,
  0.022788,
  1.0412,
  0.006256),
 (Timestamp('2023-12-24 00:00:00'),
  0.783474,
  0.839739,
  0.056266,
  0.812453,
  0.015127),
 (Timestamp('2023-12-25 00:00:00'),
  0.864235,
  0.877156,
  0.012921,
  0.870615,
  0.003492),
 (Timestamp('2023-12-26 00:00:00'),
  0.944485,
  1.014379,
  0.069895,
  0.979173,
  0.018696),
 (Timestamp('2023-12-27 00:00:00'),
  0.742385,
  0.749525,
  0.007138,
  0.746421,
  0.001918),
 (Timestamp('2023-12-28 00:00:00'),
  1.157529,
  1.298519,
  0.140982,
  1.227169,
  0.037846),
 (Timestamp('2023-12-29 00:00:00'),
  0.981491,
  1.054939,
  0.073446,
  1.018599,
  0.019662),
 (Timestamp('2023-12-30 00:00:00'),
  0.922972,
  0.928435,
  0.005462,
  0.92554,
  0.001442),
 (Timestamp('2023-12-31 00:00:00'),
  0.733875,
  0.835864,
  0.101988,
  0.785939,
  0.027294),
 (Timestamp('2024-01-01 00:00:00'),
  0.741346,
  0.787123,
  0.045777,
  0.765304,
  0.012408),
 (Timestamp('2024-01-02 00:00:00'),
  0.729116,
  0.867273,
  0.138156,
  0.798088,
  0.037119),
 (Timestamp('2024-01-03 00:00:00'),
  0.618005,
  0.620108,
  0.002101,
  0.619358,
  0.000545),
 (Timestamp('2024-01-04 00:00:00'),
  0.597114,
  0.665403,
  0.068288,
  0.633023,
  0.018549),
 (Timestamp('2024-01-05 00:00:00'),
  1.53794,
  1.682649,
  0.144711,
  1.60652,
  0.038968),
 (Timestamp('2024-01-06 00:00:00'),
  1.2824,
  1.45674,
  0.174344,
  1.366,
  0.046954),
 (Timestamp('2024-01-07 00:00:00'),
  1.01705,
  1.03585,
  0.018795,
  1.028259,
  0.005143),
 (Timestamp('2024-01-08 00:00:00'),
  1.09457,
  1.14171,
  0.047148,
  1.11916,
  0.012633),
 (Timestamp('2024-01-09 00:00:00'),
  0.432375,
  0.479416,
  0.04704,
  0.457381,
  0.012754),
 (Timestamp('2024-01-10 00:00:00'),
  0.743089,
  0.795517,
  0.052428,
  0.770461,
  0.014133),
 (Timestamp('2024-01-11 00:00:00'),
  0.975257,
  1.04454,
  0.06928,
  1.00957,
  0.018565),
 (Timestamp('2024-01-12 00:00:00'),
  0.540549,
  0.705766,
  0.165216,
  0.626613,
  0.044691),
 (Timestamp('2024-01-13 00:00:00'),
  0.606396,
  0.842096,
  0.2357,
  0.728224,
  0.063627),
 (Timestamp('2024-01-14 00:00:00'),
  1.257779,
  1.31164,
  0.053856,
  1.282189,
  0.014245),
 (Timestamp('2024-01-15 00:00:00'),
  0.680197,
  0.788168,
  0.107969,
  0.732751,
  0.029006),
 (Timestamp('2024-01-16 00:00:00'),
  2.86033,
  3.61083,
  0.750499,
  3.228719,
  0.201938),
 (Timestamp('2024-01-17 00:00:00'),
  3.398449,
  4.475349,
  1.0769,
  3.925149,
  0.290154),
 (Timestamp('2024-01-18 00:00:00'),
  0.831681,
  0.841062,
  0.00938,
  0.837369,
  0.002338),
 (Timestamp('2024-01-19 00:00:00'),
  1.04364,
  1.05399,
  0.010355,
  1.04907,
  0.002156),
 (Timestamp('2024-01-20 00:00:00'),
  1.068689,
  1.07692,
  0.008235,
  1.072679,
  0.002141),
 (Timestamp('2024-01-21 00:00:00'),
  1.21695,
  1.2271,
  0.010148,
  1.22218,
  0.002564),
 (Timestamp('2024-01-22 00:00:00'),
  1.42569,
  1.464409,
  0.038716,
  1.44436,
  0.010093),
 (Timestamp('2024-01-23 00:00:00'),
  2.01742,
  2.153229,
  0.135803,
  2.086819,
  0.036304),
 (Timestamp('2024-01-24 00:00:00'),
  2.888649,
  3.379159,
  0.490518,
  3.13084,
  0.131457),
 (Timestamp('2024-01-25 00:00:00'),
  2.30127,
  2.539849,
  0.23858,
  2.421479,
  0.063761),
 (Timestamp('2024-01-26 00:00:00'),
  2.240789,
  2.519299,
  0.278508,
  2.379179,
  0.074835),
 (Timestamp('2024-01-27 00:00:00'),
  1.937119,
  2.03495,
  0.097824,
  1.98354,
  0.026419),
 (Timestamp('2024-01-28 00:00:00'),
  1.481799,
  1.555989,
  0.074196,
  1.520009,
  0.019828),
 (Timestamp('2024-01-29 00:00:00'),
  1.682839,
  1.71446,
  0.03162,
  1.69945,
  0.008443),
 (Timestamp('2024-01-30 00:00:00'),
  2.03641,
  2.23319,
  0.196771,
  2.131939,
  0.052928),
 (Timestamp('2024-01-31 00:00:00'),
  2.19159,
  2.475569,
  0.283978,
  2.32273,
  0.077193),
 (Timestamp('2024-02-01 00:00:00'),
  1.98739,
  2.165689,
  0.178304,
  2.071069,
  0.048441),
 (Timestamp('2024-02-02 00:00:00'),
  1.843999,
  1.95246,
  0.108466,
  1.894539,
  0.029445),
 (Timestamp('2024-02-03 00:00:00'),
  2.20021,
  2.41966,
  0.219451,
  2.29986,
  0.059721),
 (Timestamp('2024-02-04 00:00:00'),
  1.904129,
  2.111569,
  0.207442,
  1.997799,
  0.056207),
 (Timestamp('2024-02-05 00:00:00'),
  1.480819,
  1.539109,
  0.058293,
  1.5102,
  0.015871),
 (Timestamp('2024-02-06 00:00:00'),
  1.79243,
  1.81418,
  0.021748,
  1.80225,
  0.005835),
 (Timestamp('2024-02-07 00:00:00'),
  1.6553,
  1.71464,
  0.059341,
  1.683529,
  0.015974),
 (Timestamp('2024-02-08 00:00:00'),
  1.46832,
  1.596269,
  0.127947,
  1.52231,
  0.0343),
 (Timestamp('2024-02-09 00:00:00'),
  1.95848,
  2.02042,
  0.061933,
  1.98508,
  0.01419),
 (Timestamp('2024-02-10 00:00:00'),
  2.42863,
  2.7021,
  0.273467,
  2.54691,
  0.073441),
 (Timestamp('2024-02-11 00:00:00'),
  1.158859,
  1.42259,
  0.263725,
  1.28171,
  0.071771),
 (Timestamp('2024-02-12 00:00:00'),
  1.92812,
  1.99571,
  0.067593,
  1.955489,
  0.018693),
 (Timestamp('2024-02-13 00:00:00'),
  1.5384,
  1.608759,
  0.070356,
  1.56947,
  0.019054),
 (Timestamp('2024-02-14 00:00:00'),
  2.433389,
  2.788189,
  0.354804,
  2.604199,
  0.096852),
 (Timestamp('2024-02-15 00:00:00'),
  2.2841,
  2.416169,
  0.132073,
  2.34097,
  0.035226),
 (Timestamp('2024-02-16 00:00:00'),
  2.10327,
  2.38275,
  0.279477,
  2.229729,
  0.076231),
 (Timestamp('2024-02-17 00:00:00'),
  2.37507,
  2.48463,
  0.109557,
  2.42262,
  0.029144),
 (Timestamp('2024-02-18 00:00:00'),
  2.731849,
  2.984149,
  0.252301,
  2.848629,
  0.068386),
 (Timestamp('2024-02-19 00:00:00'),
  2.703639,
  2.75373,
  0.050097,
  2.71864,
  0.010819),
 (Timestamp('2024-02-20 00:00:00'),
  3.12151,
  3.383369,
  0.261853,
  3.238919,
  0.070243),
 (Timestamp('2024-02-21 00:00:00'),
  2.60753,
  2.80517,
  0.197641,
  2.6967,
  0.053316),
 (Timestamp('2024-02-22 00:00:00'),
  2.161499,
  2.305959,
  0.144464,
  2.2256,
  0.038357)]

In [36]:
#Save the list as txt file
file = open('Evapotranspiracao.txt', 'w')

for tuple in y:
    file.write(str(tuple)+','+'\n')

file.close()